services:
  ros2-vnc:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    container_name: ros2-vnc
    hostname: docker-desktop
    ports:
      - "5901:5901"
    environment:
      - VNC_PASSWORD=ros
      - DISPLAY=:1
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID=50
    volumes:
      - ros_x11:/tmp/.X11-unix                        # 共用 X socket
      - ../..:/home/user/Eurobot-2026-Navigation2-ws  # workspace

    working_dir: /home/user/Eurobot-2026-Navigation2-ws
    stdin_open: true
    tty: true

volumes:
  ros_x11:
    external: true
    name: ros_x11