services:
  navigation:
    build: .
    image: justinshih0918/eurobot2026-nav2-envs:latest
    container_name: navigation2
    command: /bin/bash
    tty: true
    network_mode: host
    ipc: host
    privileged: true
    stop_grace_period: &STOP_GRACE_PERIOD 1s

    volumes:
      - ../..:/home/user/Eurobot-2026-Navigation2-ws
      - ros_x11:/tmp/.X11-unix     
      - /dev:/dev

    working_dir: /home/user/Eurobot-2026-Navigation2-ws

    environment:
      - DISPLAY=:1                     
      - QT_X11_NO_MITSHM=1
      - RCUTILS_COLORIZED_OUTPUT=1
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID=50

volumes:
  ros_x11:
    external: true
    name: ros_x11